@model Lab3.Models.Book
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p style="font-size:24px">Bạn đã mua cuốn sách<strong>@Model.TenSach</strong> với giá <strong>@Model.GiaTien</strong> VND</p>

